<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <title>{{ .Title }}{{ if ne .Title .Site.Title}} - {{ .Site.Title }}{{end}}</title>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' href='{{ "css/style.css" | absURL }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ "css/custom.css" | absURL }}' type='text/css' media='all' />
    {{ template "_internal/google_analytics.html" . }}    
    {{ if .Page.IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title"       content="{{ .Site.Title }}" />
    <meta property="og:type"        content="website" />
    {{ else }}
    <title>{{ .Site.Title }} :: {{ .Title }}</title>
    <meta property="og:title"       content="{{ .Site.Title }} :: {{ .Title }}" />
    <meta property="og:type"        content="article" />
    {{ end }}
    <meta property="og:url"         content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ .Description }}" />
    {{ range $ext := ( slice "png" "jpg" "jpeg" ) }}
    {{ $ogImagePath := ( delimit ( slice $.File.Dir $.File.TranslationBaseName "/og" $ext ) "" "." ) }}
    {{ if ( fileExists ( print "static/" $ogImagePath ) ) }}
    <meta property="og:image"       content="/img/kabu.png" />
    <meta property="twitter:image"  content="/img/kabu.png" />
    <meta property="twitter:image:src"  content="/img/kabu.png" />
    {{ end }}
    {{ end }}
    <meta name="twitter:card"       content="summary" />
    {{ with $.Site.Params.Twitter }}
    <meta name="twitter:site"       content="@{{ . }}" />
    {{ end }}
</head>